* {
  margin: 5px 5px;
  padding: 10px 10px;
  border-radius: 50px;
}

label {
  display: block;
}

input {
  border: 1px solid grey;
}

button {
  border: 1px solid grey;
  margin: 50px auto;
  width: 7.5em;
}
